<div class="container">
    <h2>Cadastro de Cliente</h2>

    {{ cliente | json}}
    {{usuarioForm.valid}}

      <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">

        <div class="form-group">
          <label class="form-control-label">Nome</label>
          <input type="text" class="form-control" name="primeiroNome"
            [(ngModel)] = "cliente.nome" required minlength="10" pattern="[a-zA-Z ]*">
        </div>

        <div class="form-group">
            <label class="form-control-label">E-mail</label>
            <input type="text" class="form-control" name="emailAddress"
              [(ngModel)]="cliente.email" required email>
          </div>

          <div class="form-group">
              <label class="form-control-label">Profissão</label>
              <select class="form-control" name="profissao" [(ngModel)]="cliente.profissao" required>
                <option value="">Selecione</option>
                <option *ngFor="let p of profissoes" [value]="p">{{p}}</option>
              </select>
          </div>

          <button type="submit" [disabled]="!usuarioForm.valid" class="btn btn-primary">Cadastrar</button>

      </form>

    </div>
