<app-cadastro-cliente></app-cadastro-cliente>

<br>
<br>
<hr>
<br>
<br>
<div class="container">
  <app-aluno-form (cadastrado)="aoCadastrar($event)"></app-aluno-form>

  <div class="row" style="margin-top: 20px;">
    <div class="col-3" *ngFor="let aluno of alunos">
      <app-aluno-card [object]="aluno"></app-aluno-card>
    </div>
  </div>

</div>

<div class="container">
  <hr>
  <h2>Trabalhando com pipes</h2>
  <h4>{{nome | uppercase }}</h4>
  <h4>{{dataNascimento | date: 'dd/MM/y' }}</h4>
  <h4>{{ preco | number: '1.2-2' }}</h4>
  <h4>{{ troco | currency: 'BRL' : 'true' : '1.2-2' }}</h4>
</div>

