<div class="container">
  <div class="alert alert-success" role="alert">
    Funcionária adicionada <strong>{{nome}} </strong>
  </div>
  <div class="form-row align-items-center">

    <div class="col-sm-8">
      <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" autofocus="autofocus" (input)="alterarNome($event)" value="{{nome}}">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Matrícula</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary" (click)="adicionar()">Adicionar</button>
    </div>

  </div>
</div>